services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
        ports:
            - "8002:8002"
        environment:
            - ENV=production
        restart: always
        env_file:
            - .env
