services:
    app:
        build:
            context: .
            dockerfile: dockerfile
        volumes:
            - .:/app
        environment:
            - ENV=development
        ports:
            - "8002:8002"
        env_file:
            - .env
